.events-hero {
  &::before {
    background-image: url("../images/events-hero.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
  }
}

.events-info {
  overflow: hidden;
  position: relative;

  & .wrapper {
    min-height: 65svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .title {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    & > h2 {
      font-family: "HelveticaNeueCyr", sans-serif;
      font-weight: 700;
      font-size: 34px;
      line-height: 85%;
      color: $blueDark;
      align-self: flex-start;
    }
  }

  & .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  & .mx-4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 45px;

    & > nav {
      & > ul {
        list-style: none;
        display: flex;
        gap: 12px;
        align-items: center;

        & > li {
          border-radius: 4px;

          &.active {
            background: $blue;
            border: none;

            & > a {
              color: $white;
            }
          }

          & > a {
            font-family: "HelveticaNeueCyr", sans-serif;
            font-weight: 500;
            border: 1px solid $gray;
            border-radius: 4px;
            padding: 5px;
            min-width: 40px;
            height: 40px;
            font-size: 16px;
            color: $blackLight;
            cursor: pointer;
            padding: 12px 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > i {
              font-size: 30px;
              color: $gray;
            }
          }
        }
      }
    }
  }
}
